<nav class="navbar navbar-expand-lg navbar-light bg-purple">
    <a class="navbar-brand" href="#">SkyBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink=""><i class="fas fa-home"></i> Home</a>
        <a *ngIf="userId === 'admin'" class="nav-item nav-link" routerLink="admin/flight/all"><i class="fas fa-plane"></i> Flights</a>
        <a *ngIf="loggedUser  && userId != 'admin' " class="nav-item nav-link" routerLink="user/booking/view"><i class="fas fa-book"></i> My Bookings</a>
        <a class="nav-item nav-link" href="#contact"><i class="fas fa-phone"></i> Contact Us</a>
      </div>
      <div class="navbar-nav" style="float:right">
        <a *ngIf="!loggedUser" class="nav-item nav-link"  routerLink="login"><i class="fa fa-user"></i> Login</a>
        <a *ngIf='loggedUser' class="nav-item nav-link"  >
          <span class="fa fa-user"></span>Hi! &nbsp; {{username}}</a>
         
            <a *ngIf='loggedUser' class="nav-link" href="#" (click)='logout()'><span
                    class="fa fa-power-off"  ></span> Logout</a>
       
      </div>
    </div>
  </nav>