.bg-purple
{
    background-color: rebeccapurple;
    color:white;
}

.navbar a
{
    color : white;
}

.navbar a :hover
{
    color : orange;
}

.navbar .navbar-nav  button .nb
{
    float: right;
    color: orange;
}