<ngx-loading [show]="showLoadingIndicator" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<nav class="navbar fixed-top  navbar-expand navbar-light bg-purple">
    <a class="navbar-brand" href="#">SkyBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  d-flex justify-content-start" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink=""><i class="fas fa-home"></i> Home</a>
        <a *ngIf="loggedUser  && userId != 'admin' " class="nav-item nav-link" routerLink="user/booking/view"><i class="fas fa-book"></i> My Bookings</a>
        <a *ngIf="userId === 'admin'" class="nav-item nav-link" routerLink="admin/flight/all"><i class="fas fa-plane"></i> Flights</a>
        <a class="nav-item nav-link" href="#contact"><i class="fas fa-phone"></i> Contact Us</a>
        
      </div>
    </div>

    <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
          <a *ngIf="!loggedUser" class="nav-item nav-link"  routerLink="login"><i class="fa fa-user"></i> Login</a>
          <a *ngIf='loggedUser' class="nav-item nav-link" routerLink="user/profile" >
            <span class="fas fa-user"></span> Hi {{username}}</a>
          
              <a *ngIf='loggedUser' class="nav-link" href="#" (click)='logout()'><span
                      class="fa fa-power-off"  ></span> Logout</a>
         </div>
       <div class="navbar-nav">
           <div class="nav-item nav-link">
              <img *ngIf="loggedUser" class="" [src]="photo" height="25px" width="40px" style="border-radius: 50%;">
         </div>
      </div>
                    
     </div>   
        
 
    
  </nav>