<br>
<br>
<button  style="float: right;margin-right: 20%; margin-bottom: 2%;border-radius: 50%;" class="btn btn-lg btn-success"><i class="fas fa-arrow-down"></i></button>
<div class="container-fluid ticket" id="ticket">
            <br>
            <h1 style="color:rebeccapurple; text-align: center;">E-Ticket <b>(PNR : {{pnr}})</b></h1>
            <hr>
            <b><h3 style="color: chocolate;">{{flt.flight.sourceAirport.airportId}}({{flt.flight.sourceAirport.airportName}})</h3><i class="fas fa-arrow-right"></i><h3 style="color:goldenrod">{{flt.flight.destinationAirport.airportId}}({{flt.flight.destinationAirport.airportName}})</h3></b>
            <hr>       
            <p><i class="fas fa-plane-departure"></i>Departure : {{flt.departureDate}} <b>({{flt.departureTime}})</b></p> 
                    <p><i class="fas fa-plane-arrival"></i>Arrival : {{flt.arrivalDate}}<b>({{flt.arrivalTime}})</b></p>
                   <p><i class="fas fa-globe"></i>Operated By : {{flt.flight.airlines.airlineName}}
                  <img [src]="'assets/images/'+flt.flight.airlines.airlineName+'.png'" height="50px" width="50px"> </p>
                   <p><i class="fas fa-plane"></i>Model : {{flt.flight.model}}</p>
                   <hr>
                  
                    <hr>
                   <p>A Non-refundable convenience fee of INR 250 per pax per sector for Domestic and INR 400 per pax per sector for International has been levied on all online payments made except vouchers and credit file. Please note that if the payment is to be made in any other currency than Indian Rupee, the Convenience Fee will be calculated as per the conversion rate prevalent at the time of payment.</p>
                   <hr>
                   <h2> Baggage Policy</h2>
                    <i class="fas fa-suitcase-rolling"></i><p>Check In Baggage : <b>{{flt.flight.checkInLuggage}}Kgs per person</b></p>
                    <i class="fas fa-suitcase-rolling"></i><p>Cabin Baggage : <b>{{flt.flight.cabinLuggage}}Kgs per person</b></p>
                   <hr>
                   <h2>Cancellation Policy</h2>
                   <p><b>3 days before departure</b>:INR 3000 or Airfare charges plus Fare difference will be charged (Whichever is lower).</p>
                   <p><b>4 or more days before departure</b>:Upto INR 2500 or Airfare charges plus Fare difference will be charged (Whichever is lower).</p>
                   <hr>
                   <h6 style="color: grey; text-align: center;">Thanks for visiting www.skybook.com</h6>
</div>
