
    <form  class="container skybook-form" ngNativeValidate (ngSubmit)="onSubmit()" #scheduleflightform ="ngForm" id="add-flight-form">
      <div>
        <h2 style="text-align: center;">Schedule Flight</h2>
        <h6 style="text-align: center;">Field marked * are required </h6>
      </div>

      <div class="form-group">
        <label> Departure Date* {{departureDate}}</label>
        <input type="date" class="form-control" id="deptDate"  [(ngModel)] = "departureDate" #deptDate = "ngModel"
         [ngModelOptions] = "{standalone : true}"  min="2020-02-12" max="2020-05-31" required >
        <div  style="color:red" *ngIf="deptDate.errors?.required && deptDate.touched" class="alert alert-danger">Departure Date is required</div>
      </div>

      <div class="form-group">
        <label> Departure Time*</label>
        <input type="time" class="form-control" id="deptTime"  [(ngModel)] = "departureTime" #deptTime = "ngModel"
         [ngModelOptions] = "{standalone : true}"   required >
        <div  style="color:red" *ngIf="deptTime.errors?.required && deptTime.touched" class="alert alert-danger">Departure Time is required</div>
      </div>
      
      <div class="form-group">
        <label> Arrival Date*</label>
        <input type="date" class="form-control" id="arrDate"  [(ngModel)] = "arrivalDate" #arrDate = "ngModel"
         [ngModelOptions] = "{standalone : true}"  min="2020-02-12" max="2020-05-31" required >
        <div  style="color:red" *ngIf="arrDate.errors?.required && arrDate.touched" class="alert alert-danger">Arrival Date is required</div>
      </div>

      <div class="form-group">
        <label> Arrival Time* {{arrivalTime}}</label>
        <input type="time" class="form-control" id="arrTime"  [(ngModel)] = "arrivalTime" #arrTime = "ngModel"
         [ngModelOptions] = "{standalone : true}"   required >
        <div  style="color:red" *ngIf="arrTime.errors?.required && arrTime.touched" class="alert alert-danger">Arrival Time is required</div>
      </div>

      <div class="form-group">
        <label> Economic Price*</label>
        <input type="text" class="form-control" id="ecoP"  [(ngModel)] = "economicPrice" #ecoP = "ngModel"
        pattern="^[0-9]{0,6}$" [ngModelOptions] = "{standalone : true}"  required >
        <div  style="color:red" *ngIf="ecoP.errors?.required && ecoP.touched" class="alert alert-danger">Economic Price is required</div>
        <div  style="color:red" *ngIf="ecoP.errors?.pattern && ecoP.touched" class="alert alert-danger">Economic Price should only contain digits and maximum of 6 digits </div>
      </div>

      <div class="form-group">
        <label> Business Price*</label>
        <input type="text" class="form-control" id="buP"  [(ngModel)] = "businessPrice" #buP = "ngModel"
        pattern="^[0-9]{0,6}$" [ngModelOptions] = "{standalone : true}"  required >
        <div  style="color:red" *ngIf="buP.errors?.required && buP.touched" class="alert alert-danger">Business Price is required</div>
        <div  style="color:red" *ngIf="buP.errors?.pattern && buP.touched" class="alert alert-danger">Business Price should only contain digits and maximum of 6 digits </div>
      </div>

      <div class="form-group">
        <label>Select The Flight* {{flightNum}}</label>
        <mat-select class="form-control" [(ngModel)]="flightNum" [ngModelOptions] = "{standalone : true}" required #flNo ="ngModel">
          <mat-option *ngFor="let fl of flights" [value]="fl.flightNo">({{fl.flightNo}}) {{fl.sourceAirport.airportId}} -> 
            {{fl.destinationAirport.airportId}} <strong>{{fl.airlines.airlineName}}</strong>
          </mat-option>
        </mat-select>
        <div  style="color:red" *ngIf="flNo.errors?.required && flNo.touched" class="alert alert-danger">Flight is required</div>
       
      </div>



      
      <button type="submit" [disabled]="scheduleflightform.invalid" class="btn btn-primary">Schedule Flight</button>
      <button  (click) = "goBack()" class="btn btn-danger">Cancel</button>
    </form>
