
<ngx-loading [show]="showLoadingIndicator" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="container">
    <div class="row">
    <div class="col-sm-4 col-md-4 col lg-4 profile">
        <div class="row">
            <img [src]="photo" height=200px width=200px style="border-radius:50%;">
        </div>
        <div class="row" >
            <h2>{{userId}}</h2>
        </div>
        <div class="row">
           <h6 style="color:chocolate">Name : {{username}}</h6>
        </div>
        <div class="row">
            <h6 style="color:chocolate">email : {{email}}</h6>
        </div>
    </div>
    <div *ngIf="userId != 'admin'" class="col-sm-7 col-md-7 col lg-7 profile">
        <div class=" row help-desk">
            <h1>Help Desk<i class="fas fa-question-circle"></i></h1>
        </div>
        <div [hidden]="err"class=" row alert alert-danger alert-dismissible fade-in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Oops! error in raising Issue. Please try after few Minutes.
        </div>
        <div [hidden]="info" class=" row alert alert-success alert-dismissible fade-in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Your issue has been successfully raised. It is expected to be resolved within 3 business days.
        </div>
        <div class="row justify-content-start">
            <form class="help-desk-form">
              <mat-label> Select a issue*</mat-label>
              <mat-select col-sm class="form-control form-control-lg"  name="issue" [(ngModel)]="issue" required>
                  <mat-option  *ngFor="let i of issues" [value]="i">{{i}}</mat-option>
              </mat-select><br>
              <label> Comment*</label><br>
              <textarea class="form-control-lg" name="comment" [(ngModel)]="comment" required
             ></textarea><br>
             <button mat-raised-button color="accent" (click)="raiseTicket()">Submit</button>
             <button mat-raised-button color="primary" (click)="viewTicket()">View</button>
              </form>
              
        </div>
    </div>
    <div  *ngIf="userId === 'admin'" class="col-sm-7 col-md-7 col-lg-7 ">
        <button style="margin-top: 5%;"(click)="viewallTickets()" mat-raised-button color="primary">View Tickets</button><br>
        <div [hidden]="resolveerr"class=" row alert alert-danger alert-dismissible fade-in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Oops! error in resolving Issue. Please try after few Minutes.
        </div>
        <div [hidden]="resolveinfo" class=" row alert alert-success alert-dismissible fade-in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Issue has been successfully resolved.
        </div>
        <div [hidden]="hidden" class="container skybook-table skb" >


  
            <table datatable id="flight-table" class="table  table-hover">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Request Id</th>
                <th scope="col">Date</th>
                <th scope="col">Issue</th>
                <th scope="col">Comment</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
        
                
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tk of allTickets">
                <th scope="row"> 
                  {{tk.requestId}}
                </th>
                <td>
                  {{tk.date}}
                </td>
                <td>
                   {{tk.issue}}
                </td>
                <td>
                    {{tk.comment}}
                </td>
                <td>
                    <span *ngIf="tk.status === 'Resolved' " style="color:green">Resolved</span>
                    <span *ngIf="tk.status === 'Pending' " style="color:red">Pending</span>
                </td>
                <td>
                   <button *ngIf ="tk.status === 'Resolved'" [disabled]=true mat-raised-button style="background-color: grey;color: white;">Resolve</button>
                   <button (click)="resolve(tk.requestId)" *ngIf ="tk.status === 'Pending'" [disabled]=false mat-raised-button style="background-color: green;color: white;">Resolve</button>
                </td>
                
              </tr>
            </tbody>
            </table>
            
          

    </div>

    </div>
        <div *ngIf="userId != 'admin'" [hidden]="hidden" class="container skybook-table" >

            <div [hidden]="cancelerr"class=" row alert alert-danger alert-dismissible fade-in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Oops! error in cancelling Issue. Please try after few Minutes.
            </div>
            <div [hidden]="cancelinfo" class=" row alert alert-success alert-dismissible fade-in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Issue has been successfully cancelled.
            </div>
  
            <table datatable id="flight-table" class="table  table-hover">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Request Id</th>
                <th scope="col">Date</th>
                <th scope="col">Issue</th>
                <th scope="col">Comment</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
        
                
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tk of tickets">
                <th scope="row"> 
                  {{tk.requestId}}
                </th>
                <td>
                  {{tk.date}}
                </td>
                <td>
                   {{tk.issue}}
                </td>
                <td>
                    {{tk.comment}}
                </td>
                <td>
                    <span *ngIf="tk.status === 'Resolved' " style="color:green">Resolved</span>
                    <span *ngIf="tk.status === 'Pending' " style="color:red">Pending</span>
                </td>
                <td>
                   <button *ngIf ="tk.status === 'Resolved'" [disabled]=true mat-raised-button style="background-color: grey;color: white;"><i class="fas fa-trash-alt"></i> Cancel</button>
                   <button (click)="cancel(tk.requestId)" *ngIf ="tk.status === 'Pending'" [disabled]=false mat-raised-button style="background-color: red;color: white;"><i class="fas fa-trash-alt"></i> Cancel</button>
                </td>
                
              </tr>
            </tbody>
            </table>
            
          

    </div>
</div>
</div>




