.profile
{
    border-radius: 5px;
    margin:2%;
    background-color: linen;
    height:fit-content;
    padding: 3%;
}

h2{
    text-align: center;
    color: rebeccapurple;
    margin-left: 20%;
}

h6{
    margin-left: 20%;
}

img
{
    margin-top: 2%;
    margin-left:20%;
    margin-bottom: 2%;

}

.help-desk
{
    background-image: linear-gradient(to right top, #5b129b, #7e32a7, #9c50b5, #b86ec3, #d28dd2);
    margin-top:2%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 2%;
    color:white;
    height: fit-content;
}


select
{
    width:500px;
}

textarea
{
    height :200px;
    width : 500px;
}

button
{
  margin-right: 5px;
}

.skybook-table{
  margin:2%;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: fit-content;
}



.skybook-table th
{
  text-align: center;
}

.skybook-table table
{
  border-radius: 10%;
}
.skybook-table tr
{
  background-color: ivory;
  opacity: 0.8;
}


.skybook-table td
{
  text-align: center;
}

.skybook-table tr:hover
{
  background-color: lightgray;
}

.skybook-table button
{
  margin-right: 1rem;
  margin-bottom: 1rem;
  width:120px;
  
}


