<ngx-loading [show]="showLoadingIndicator" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<div class="home">
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">  
  <div  class="container skybook-search">
    <h1>SkyBook Easy Trip {{src}} {{dest}} {{deptDt}}</h1>
    <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
    <label>Source</label>
    <mat-select   col-sm class="form-control form-control-lg" [(ngModel)]='src'>
     
            <mat-option *ngFor="let airport of airports"
                    [value]="airport.city">
                    {{airport.airportName}}<b>({{airport.airportId}})</b>
            </mat-option>
    </mat-select>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
      <label>Destination</label>
      <mat-select  col-sm class="form-control form-control-lg" [(ngModel)]='dest'>
            <mat-option *ngFor="let airport of airports"
                    [value]="airport.city">
                    {{airport.airportName}}<b>({{airport.airportId}})</b>
            </mat-option>
      </mat-select>
      </div>
    </div>
      <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
          <label>Select the Departure Date</label>
          <input col-sm class="form-control form-control-lg"type="date" [(ngModel)] = 'deptDt'
          min="2020-02-12" max="2020-05-31">
            <!--mat-label>Choose a date</!--mat-label>
            <input class="form-control"  [(ngModel)] = 'deptDt' matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker-->
      </div>

      <div class="col-sm-6 col-lg-6 col-md-6">
        <label>Payment</label>
        <mat-select  col-sm class="form-control form-control-lg">
              <mat-option 
                      [value]="">
                     Select Currency
              </mat-option>
              <mat-option 
              [value]="INR">
             Indian National Rupee(<b>INR</b>)
      </mat-option>
        </mat-select>
        </div>
      </div>
     <div class ="row">
      <div class="col-sm-6 col-lg-6 col-md-6">
        <!--button--  style="margin-top: 5%;" type="button" class="btn btn-lg btn-warning" (click) = "searchFlight()">
          <i class="fas fa-search"></i>Search</!--button-->
          <button mat-raised-button color="accent" style="margin-top: 5%;"
          (click) = "searchFlight()"  href="#flights"><i class="fas fa-search"></i>Search</button>
      </div>
      </div>
      <hr>
      <div class="row icon">
        <div class="col-sm-4 col-lg-4 col-md-4">
          <i style="color:white;font-size: 50px;" class="fas fa-globe-europe "></i><br>
          <h4 style="color:white">World Trip</h4>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <i style="color:white;font-size: 50px;" class="fas fa-percent"></i><br>
          <h4 style="color:white">Discounted Price</h4>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <i style="color:white;font-size: 50px;" class="fas fa-utensils "></i><br>
          <h4 style="color:white">Free Meal</h4>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <!--img src="assets/images/bg1.jpg" height="100%" width="100%"-->
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/bg1.jpg" height="800px" width="600px" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Reach Height with us</h3>
         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/b2.jpg" height="800px" width="600px" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>World Class Service by efficient professionals</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/b3.jpg" height="800px" width="600px" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Exciting Offers on Maldives Trip</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  </div>
  <div class="row">
    <div [hidden] = "hidden" class="container skybook-table" id="flights">
  
      <table datatable id="flight-table" class="table table-stripped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Flight Operator </th>
          <th scope="col">Flight No</th>
          <th scope="col">Flight Model </th>
          <th scope="col">Source</th>
          <th scope="col"> Destination </th>
          <th scope="col">Departure</th>
          <th scope="col"> Arrival </th>
          <th scope="col"> Economy Price </th>
          <th scope="col"> Business Price</th>
          <th scope="col"> Actions</th>
  
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flt of flights">
          <th scope="row"> 
            {{flt.flight.airlines.airlineName}}<br>
           
          </th>
          <td>
            {{flt.id}}
          </td>
          <td>
            <i class="fas fa-plane"></i> {{flt.flight.model}}
          </td>
          <td>
            <h3>
              <i class="fas fa-map-marker-alt"></i><b style="color: chocolate;">{{flt.flight.sourceAirport.airportId}}</b></h3><br>
            {{flt.flight.sourceAirport.airportName}}
          </td>
          <td>
            <h3>
              <i class="fas fa-map-marker-alt"></i>
              <b style="color: darkgoldenrod;">{{flt.flight.destinationAirport.airportId}}</b></h3><br>
            {{flt.flight.destinationAirport.airportName}}
          </td>
          <td>
            <b>{{flt.departureDate}}</b><br>
            {{flt.departureTime}}
          </td>
          <td>
            <b>{{flt.arrivalDate}}</b><br>
            {{flt.arrivalTime}}
          </td>
          <td>
            <b><i class="fas fa-rupee-sign"></i>{{flt.economicPrice}}</b> 
          </td>
          <td>
            <b><i class="fas fa-rupee-sign"></i>{{flt.businessPrice}}</b><br>
          </td>
          <td>
                <button type="button" (click)="bookFlight(flt.id)" class="btn btn-lg btn-success"><i class="fas fa-paper-plane"> Book</i></button><br><br>
              <button type="button" class="btn btn-lg btn-info" (click)="openScrollableContent(longContent)"><i class="fas fa-eye"> View</i></button>
          </td>
          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">{{flt.flight.sourceAirport.city}}</h4>
              <i style="color:indigo" class="fas fa-exchange-alt"></i>
              <h4 class="modal-title">{{flt.flight.destinationAirport.city}}</h4>({{flt.id}})
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ngb-tabset [destroyOnHide]="false">
                <ngb-tab title="Flight & Fare">
                  <ng-template ngbTabContent>
                   <b><h2>{{flt.flight.sourceAirport.airportId}}</h2><i class="fas fa-arrow-right"></i><h2>{{flt.flight.destinationAirport.airportId}}</h2></b>
                   <p><i class="fas fa-plane-departure"></i>Departure : {{flt.departureDate}} <b>({{flt.departureTime}})</b></p> 
                    <p><i class="fas fa-plane-arrival"></i>Arrival : {{flt.arrivalDate}}<b>({{flt.arrivalTime}})</b></p>
                   <p><i class="fas fa-globe"></i>Operated By : {{flt.flight.airlines.airlineName}}
                  <img [src]="'assets/images/'+flt.flight.airlines.airlineName+'.png'" height="50px" width="50px"> </p>
                   <p><i class="fas fa-plane"></i>Model : {{flt.flight.model}}</p>
                   <hr>
                   <b>Economic Class Price :  </b> 1 x Adult(>12 years) = <b><i class="fas fa-rupee-sign"></i>{{flt.economicPrice}}</b>
                   <hr>
                    <hr>
                    <b>Business Class Price :  </b> 1 x Adult(>12 years) = <b><i class="fas fa-rupee-sign"></i>{{flt.businessPrice}}</b>
                    <hr>
                   <p>A Non-refundable convenience fee of INR 250 per pax per sector for Domestic and INR 400 per pax per sector for International has been levied on all online payments made except vouchers and credit file. Please note that if the payment is to be made in any other currency than Indian Rupee, the Convenience Fee will be calculated as per the conversion rate prevalent at the time of payment.</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Baggage Details">
                  <ng-template ngbTabContent>
                    <b><h2>{{flt.flight.sourceAirport.airportId}}</h2><i class="fas fa-arrow-right"></i><h2>{{flt.flight.destinationAirport.airportId}}</h2></b>
                    <hr>
                    <i class="fas fa-suitcase-rolling"></i><p>Check In Baggage : <b>{{flt.flight.checkInLuggage}}Kgs per person</b></p>
                    <i class="fas fa-suitcase-rolling"></i><p>Cabin Baggage : <b>{{flt.flight.cabinLuggage}}Kgs per person</b></p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Cancellation policy">
                  <ng-template ngbTabContent>
                    <b><h2>{{flt.flight.sourceAirport.airportId}}</h2><i class="fas fa-arrow-right"></i><h2>{{flt.flight.destinationAirport.airportId}}</h2></b>
                    <hr>
                    <p>Charges per person</p>
                    <hr>
                    <p><b>3 days before departure</b>:INR 3000 or Airfare charges plus Fare difference will be charged (Whichever is lower).</p>
                    <p><b>4 or more days before departure</b>:Upto INR 2500 or Airfare charges plus Fare difference will be charged (Whichever is lower).</p>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
            <div class="modal-footer">
              <button  type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>  
        </tr>

      </tbody>
      </table>
      
    </div>
  </div>
  </div>