
    .home
    {
        background-image: url('/assets/images/home.jpg');
        margin-bottom:0;
        height: 100%;
        width:100%;
        background-size: cover;
    }
    .skybook-search{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 20%;
        padding: 3%;
        width:90%;
        height: 80%;
        background-color: rgb(87, 20, 153);
        background-image: linear-gradient(to right top, #5b129b, #7e32a7, #9c50b5, #b86ec3, #d28dd2);
        border-radius: 5px;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    
    h1{
        color: wheat;
    }
    
    img{
        margin-top: 10%;
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 80%;
    }

    label{
        color : white
    }

.skybook-table table
{
    border-radius: 10%;
}
.skybook-table tr
{
    background-color: ivory;
    opacity: 0.8;
}

.skybook-table table tr:hover
{
    background-color: white;
}

.skybook-table{
    margin:5%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.skybook-table th
{
    text-align: center;
}

@media screen and (max-width:600px)
{
    .skybook-search
    {
        border-radius: 5px;
    }
    .icon
    {
        display: none;
    }
    .skybook-search .btn
    {
        margin-bottom: 2%;
    }
    .skybook-table
    {
        width: 100%;
    }
    .modal-body
    {
        width:50%;
    }
}
