<div class="container my-5 py-3">
 <div class="booking-details">
  <form (ngSubmit)="onSubmit()">
    <div class="row" >
        <div class="col-8">
            <input 
                class="form-control" 
                placeholder="Enter Booking Id Here"
                [(ngModel)]="bookingId"
                name="bookingId"
                >
                
            </div>
        <div class="col-4"><button class="btn btn-success" type="submit">Search</button></div>
    </div>
    
</form>
 </div> 
<div class="booking-details" *ngIf="!bookingDetails && (pressedButton==true)">
  <p>No Such booking available</p>
</div> 
<div class="booking-details">
      <table class="table table-dark" *ngIf="bookingDetails">
        <thead>
          <tr>
            <th scope="col">Booking Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Class</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{bookingDetails.bookingId}}</th>
            <td>{{bookingDetails.name}}</td>
            <td>{{bookingDetails.email}}</td>
            <td>{{bookingDetails.departure}}</td>
            <td>{{bookingDetails.arrival}}</td>
            <td>{{bookingDetails.cabinClass}}</td>
            <td><button class="btn btn-danger" (click)="deleteBooking();pressedButton=true">Cancel</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
